@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Poppins";
}

:root {
  --black: #444;
  --white: #ddd;
  --header-height: 7rem;
  --identity-color: #ddd;
  --gray: #444;
  --page-limit: 1200px;
  --black-border: 0.05rem solid #555;
}

body {
  background-color: var(--white);
  display: grid;
  place-items: center;
  grid-template-columns: 30rem auto;
  grid-template-rows: var(--header-height) auto var(--header-height);
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
}

body,
html {
  font-size: 10px;
  height: 100vh;
}

html {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

a,
button {
  transition: all 0.2s;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

header {
  background-color: var(--black);
  grid-area: header;
  width: 100%;
  height: 100%;
  z-index: 99;
  border-bottom: var(--black-border);
}

.profile {
  gap: 1.5rem;
  cursor: pointer;
}

.profile img {
  width: 4.5rem;
  aspect-ratio: 1;
  filter: brightness(0.6) contrast(3);
}

.profile div {
  justify-content: center;
  transform: translateY(-0.15rem);
}

.profile p {
  font-size: 1.3rem;
  margin-top: -0.3rem;
  color: #aaa;
}

header nav,
footer .container {
  margin: 0 5rem;
}

header nav {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--page-limit);
}

header h1,
aside h1 {
  font-size: 1.8rem;
  color: #eee;
  font-weight: 400;
}

aside .header {
  grid-area: aside-header;
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--black-border);
  background-color: var(--black);
  filter: blur(2.5px);
}

aside #under-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  z-index: 3;
  filter: grayscale(1);
}

aside .container {
  grid-area: aside-container;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem 0;
  filter: blur(2.5px);
}

aside .profile {
  padding: 1rem 0;
  padding-left: 2rem;
  justify-content: start;
}

aside .profile:hover {
  background-image: radial-gradient(#06cf9c20, transparent);
}

aside {
  position: relative;
  grid-area: aside;
  width: calc(100% - 0.05rem);
  height: 100%;
  background-color: #333;
  border-right: var(--black-border);
  display: grid;
  grid-template-rows: var(--header-height) auto;
  grid-template-areas:
    "aside-header"
    "aside-container";
  filter: brightness(0.5);
}

header a:last-child {
  font-size: 1.7rem;
  color: var(--white);
  padding: 0.4rem 1.5rem;
  border: 0.2rem solid var(--white);
  border-radius: 2.5rem;
}

header a:hover {
  color: #06cf9c;
  border-color: #06cf9c;
}

footer {
  background-color: var(--black);
  grid-area: footer;
  width: 100%;
  height: 100%;
  border-top: var(--black-border);
  z-index: 99;
}

footer .container {
  width: 100%;
  max-width: var(--page-limit);
}

footer .container div {
  width: 100%;
  gap: 1rem;
}

.space {
  margin-block: 1rem;
}

footer .container div input[required] {
  width: calc(100% - 7rem);
  height: 100%;
  background-color: #555;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: var(--white);
  border: 0;
  padding: 1rem 1.5rem;
  outline: none;
}

footer .container div input[required]::placeholder {
  color: #bbb;
  padding-left: 0.5rem;
}

footer .container div button {
  width: 6rem;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 2.5rem;
  position: relative;
  height: 4.2rem;
  filter: brightness(0.9);
  transform: translateX(0);
  outline: none;
  transition: transform 0.05s ease-in-out;
}

footer .container div button:active {
  transform: translateX(2.5rem);
}

footer .container div button:focus {
  transition: transform 0.5s ease-in-out;
}

footer .container div button img {
  width: 2.5rem;
  filter: invert(0.8);
  aspect-ratio: 1;
  color: var(--white);
  margin-block: -0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -45%);
}

#main-bg {
  position: absolute;
  z-index: -3;
  top: var(--header-height);
  right: 0;
  width: calc(100% - 30rem);
  height: calc(100%);
}

main {
  max-width: 944px;
  overflow-y: scroll;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: start;
  gap: 0.5rem;
  grid-area: main;
  width: calc(100% - 5rem);
  height: 100%;
}

::-webkit-scrollbar {
  background-color: transparent;
}

main .card {
  max-width: 45%;
  padding: 0.5rem 1.5rem;
  background-color: var(--black);
  border-radius: 0 1rem 1rem 1rem;
}

main #you {
  margin-left: auto;
  border-radius: 1rem 0rem 1rem 1rem;
  background-color: #005c4b;
  padding-top: 1rem;
}

main .card:first-child {
  margin-bottom: 2rem;
}

main .card:last-child {
  margin-top: 2rem;
}

main .card div {
  width: 100%;
  align-items: center;
  justify-content: end;
}

main .card .text {
  font-size: 1.5rem;
  color: var(--white);
  margin-block: -0.5rem;
  padding-right: 2.7rem;
  overflow: hidden;
}

main #you .text {
  color: #eee;
}

main .card .subtext {
  font-size: 1rem;
  color: #bbb;
}

main .card .name {
  color: #06cf9c;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

main .card div .subtext:first-child {
  align-items: center;
}

@media screen and (max-width: 850px) {
  aside {
    display: none;
  }

  #main-bg {
    width: 200%;
    height: 100%;
  }

  main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - var(--header-height) * 2);
  }

  header,
  footer {
    position: absolute;
    height: var(--header-height);
    left: 0;
  }

  header {
    top: 0;
  }

  footer {
    bottom: 0;
  }

  main .card {
    max-width: 70%;
  }
}
