@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Poppins";
}

:root {
  --black: #200020;
  --white: #eee;
  --header-height: 7rem;
  --identity-color: #c41fb6;
  --gray: #444;
  --page-limit: 1200px;
}

body {
  background-color: var(--white);
}

body,
html {
  height: 100vh;
}

html {
  font-size: 10px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

a,
button {
  transition: all 0.2s;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--black);
}

header,
footer {
  padding: 0 5rem;
  width: calc(100% - 5rem * 2);
}

header nav {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--page-limit);
}

header h1 {
  font-size: 2.2rem;
  color: var(--identity-color);
  cursor: pointer;
}

header a:last-child {
  font-size: 1.7rem;
  color: var(--white);
  padding: 0.4rem 1.5rem;
  border: 0.2rem solid var(--white);
  border-radius: 2.5rem;
}

header a:hover {
  color: #ee51e1;
  border-color: #ee51e1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--header-height);
  background-color: var(--black);
}

footer .container {
  width: 100%;
  max-width: var(--page-limit);
}

footer .container div {
  width: 100%;
  gap: 1rem;
}

footer .container div input[required] {
  width: calc(100% - 7rem);
  height: 100%;
  font-size: 1.7rem;
  color: var(--white);
  border: 0;
  padding: 0.5rem 1rem;
  outline: none;
  border-bottom: 0.2rem solid var(--white);
  background-color: transparent;
}

footer .container div input[required]::placeholder {
  color: #ccc;
}

footer .container div button {
  width: 6rem;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 2.5rem;
  position: relative;
  height: 4.2rem;
  filter: brightness(0.9);
  transform: translateX(0);
  transition: transform 0.05s ease-in-out;
}

footer .container div button:hover {
  filter: drop-shadow(0 0 10px var(--identity-color));
}

footer .container div button:active {
  transform: translateX(2.5rem);
}

footer .container div button:focus {
  transition: transform 0.5s ease-in-out;
}

footer .container div button span {
  font-size: 4rem;
  color: var(--white);
  margin-block: -0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -45%);
}

main {
  height: calc(100% - var(--header-height) * 2);
  width: calc(100% - 5rem);
  max-width: 944px;
  overflow-y: scroll;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: start;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  background-color: transparent;
}

main .card {
  max-width: 50%;
  padding: 1.5rem;
  background-color: var(--identity-color);
  border-radius: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

main .card:first-child {
  margin-bottom: 2rem;
}

main .card:last-child {
  margin-top: 2rem;
}

main .card div {
  display: flex;
  width: 100%;
  align-items: center;
}

main .card .text {
  font-size: 1.7rem;
  color: var(--white);
}

main .card .subtext {
  font-size: 1.2rem;
  color: #ccc;
}

main .card div .subtext:first-child {
  display: flex;
  align-items: center;
}

main .card div .subtext:first-child::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem !important;
  transform: translateY(-20%);
  border-radius: 50%;
  margin-inline: 0.5rem;
  background-color: #ccccccaa;
}

main #you {
  margin-left: auto;
  border-radius: 2rem 2rem 0rem 2rem;
}
